<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title langages des templates>
    </title>

</head>
<body>
<H1>ESSENTIEL SUR LANGAGE DES TEMPLATES </H1>
<h2><a href="{% url 'view_static' %}"> UTILISATION DES FICHIERS STATIC:CSS ,JAVASCRIPT</a> </h2>
<h2><a href="{% url 'view_variables' %}"> AFFICHAGE DES VARIABLES</a> </h2>
<h2><a href="{% url 'view_attributs' %}"> AFFICHAGE DES ATTRIBUTS D'UN PROJET</a> </h2>
<h2><a href="{% url 'view_alternative' %}"> UTILISATION DES ALTERNATIVES</a> </h2>
<h2><a href="{% url 'view_boucle' %}"> UTILISATION DES BOUCLES</a> </h2>
</body>
</html>